<h1 class="title">Sobre o Projeto</h1>
<br>
<p> A aplicação Web consiste em uma lista de contatos, onde é possível armazenar o nome e o número de telefone de cada contato.</p>
<br>
<p> Além de habilidades com HTML, CSS, JavaScript e uso de um fakeApi para simular um banco de dados com métodos GET, POST e DELETE (habilidades
  ja mostradas em outros projetos), neste projeto utilizo Angular, TypeScript e PO UI, ferramentas que publico pela primeira vez em meu GitHub</p>
<br>
<h1 class="title">Sobre o Desenvolvedor</h1>
<br>
<p>Meu nome é Vitor Gabriel Comin, estudante no 6º semestre de Bacharelado em Sistemas de Informação, na Univille. Venho estudando e me desenvolvendo
  em HTML5, CSS3, JavaScript, TypeScript e Angular. Estou me desenvolvendo para então ir em busca de iniciar minha carreira como desenvolvedor.
</p>
<br>
<p>Confira meu currículo em meu <po-link p-label="LinkedIn" [p-open-new-tab]= true p-url="https://www.linkedin.com/in/vitorgabrielcomin/"></po-link>
e também meu portfólio de projetos em meu <po-link p-label="GitHub" [p-open-new-tab]= true p-url="https://github.com/VitorComin"></po-link>.</p>
